.blog-item {
    width: calc(50% - 10px);
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
    box-shadow: 5px 6px 14px rgba(0, 0, 0, 0.20);

    .image-thumb {
        width: 100%;
        height: 200px;
        object-fit: cover;
    }

    .content-detail {
        padding: 16px;

        .title-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .edit-wrapper {
                display: flex;
                align-items: center;

                .edit {
                    font-size: 18px;
                    color: #03A9F4;
                    cursor: pointer;
                    margin: 0px;
                    margin-right: 10px;

                    &:hover {
                        color: #0011ff;
                    }
                }

                .delete {
                    font-size: 18px;
                    margin: 0px;
                    margin-left: 10px;
                    color: #c4295d;
                    cursor: pointer;

                    &:hover {
                        color: #ff0000;
                    }
                }
            }
        }

        .title {
            margin: 0px;
            font-size: 15px;
            font-weight: bold;
            color: #313131;
        }

        .author {
            margin: 0px;
            margin-top: 4px;
            font-size: 12px;
            color: grey;
        }

        .body {
            margin: 0px;
            margin-top: 18px;
            font-size: 14px;
            color: #353535;
        }
    }
}