$background: #efefef;
$lfs-blue: #006ac6;
$lfs-yellow: #fab700;
$lfs-grey: #75787b;

body {
    background-color: $background;
}

.table-admin {
        th {
            text-align: center;
            padding: 8px;
            color: #000000;
            border: 1px solid #000000;
        }
    

    tbody {
        tr {
            border-bottom: 1px solid #000000;
            color: #000000;

            td {
                padding: 10px;
                border: 1px solid #000000;
            }

            th {
                padding-left: 15px;
                border: 1px solid #000000;

            }
            .admin-text-title {
                font-size: 14px;
                width: 1000px;
                text-align: left;
                margin: 0px;
            }

            .admin-img {
                width: 100px;
                height: 100px;
                object-fit: cover;
            }

            .edit {
                font-size: 18px;
                color: #03A9F4;
                cursor: pointer;
                margin: 0px;
                margin-left: 15px;

                &:hover {
                    color: #0011ff;
                }
            }

            .delete {
                font-size: 16px;
                margin: 0px;
                margin-left: 15px;
                color: #c4295d;
                cursor: pointer;

                &:hover {
                    color: #ff0000;
                }
            }
        }
    }
}