.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #35322d;
    padding: 0px 50px;
    height: 100px;

    .logo {
        width: 150px;
        height: 150px;
        object-fit: contain;
        cursor: pointer;
    }

    .social-wrapper {
        display: flex;
        cursor: pointer;

        .icon-wrapper {
            padding: 10px;
            border-radius: 40px;
            margin: 0px 10px;

            .icon-medsos {
                width: 30px;
                height: 30px;
                object-fit: contain;
            }
        }

    }

}

.copyright {
    background-color: #35322d;
    padding: 10px 0px;

    p {
        font-size: 18px;
        color: white;
        text-align: center;
        margin: 0px;
    }
}