.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    height: 64px;
    padding: 0 16px;

    .logo-app {
        width: 100px;
        height: 100px;
        object-fit: cover;
        cursor: pointer;
    }

    .menu-item {
        font-size: 18px;
        padding: 12px 6px;
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        color: #f4f4f4;

        &:hover {
            color: #007bff;
        }
    }

}